.price {
    width: 80px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid palevioletred;
}

.servicesCard small {
    color: #c2d685;
}

.servicesCard:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-footer {
    background-color: white;
}

.Rating {
    color: #c2d685;
    font-size: smaller;
    display: flex;
}